* {
  box-sizing: border-box;
}
body {
  font-family: 'Merriweather', serif;
}
.containerTop {
  border-bottom: 5px solid #2d3945;
  text-align: center;
}
.logo {
  color: white;
  text-transform: uppercase;
}
.banner {
  background: #283440;
  padding: 10px;
  text-align: center;
}
h2,
h3 {
  color: #283440;
}
.newsletter {
  border-top: 3px solid #283440;
  padding-top: 40px;
}
.subtext {
  color: #c2c5c8;
}
p {
  color: #818799;
}
.copyright {
  text-align: center;
  color:#aaafb3;
  font-style: italic;
  margin-bottom: 10em;
}

/* Layout Containers -------------------- */
.container {
  width: 92%;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.containerForm {
  border-top: 2px solid #283440;
  margin-top: 2px;
}

/* Form -------------------- */
.form-newsletter {
  border-radius: .5em;
}
.section {
  margin-top:2em;
  margin-bottom: 1em;
}
label[for=fullName],
label[for=email],
label[for=phone],
label[for=address],
label[for=city],
label[for=state],
label[for=zip] {
  display: block;
  margin-bottom: 0.8em;
  color: #788895;
}
label[for=html],
label[for=css],
label[for=javascript],
label[for=format-html],
label[for=format-text] {
  margin-bottom: 0.8em;
  color: #788895;
}
input,
select,
textarea {
  outline: 0;
	border: none;
	padding: 15px;
	border-radius: .3em;
  background: #eff0f1;
}
textarea {
  resize:none;
}
[placeholder="Required"],
[placeholder="Required"] {
  font-style: italic;
  color: #c2c5c8;
}
::placeholder {
  text-align: right;
}
:placeholder-shown {
  text-align: right;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	font-size: 1em;
  color: #c2c5c8;
  font-weight: 300;
  width: 100%;
  height: auto;
  margin-bottom: 1.2em;
  box-shadow: 0 1px 0 rgba(0,0,0,0.08) inset;
}
input:focus,
select:focus,
textarea:focus {
  border: 3px solid #3d6185;
}
form#signup select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: .9em;
  background: #eff0f1 url('../images/icons_arrows.svg') no-repeat right 15px;
  background-size: 30px 20px;
  color: #c2c5c8;
  padding: 15px 45px 15px 10px;
}

form#signup select::-ms-expand { display:none; }

input[name='zip'] {
  width: 50%;
}
form#signup input[type=checkbox],
form#signup input[type=radio] {
  width: 20px;
  margin: 0;
  padding:0;
}
form#signup input[type=checkbox] + label,
form#signup input[type=radio] + label {
  display:inline-block;
  margin-left: -20px;
  padding: 4px 0px 0px 27px;
  background: url('images/icons_check.svg');
  background-size: 20px 80px;
  line-height: 16px;
}
form#signup input[type=checkbox] + label {
  background-position: 0px 0px;
}
form#signup input[type=radio] + label {
  background-position: 0px -40px;
}
input[type="submit"] {
  font-size: 1.40em;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: .5em 0;
  background: #4ebbb5;
  text-align: center;
}
input[type="submit"]:hover {
  opacity: .75;
}
form > a {
  font-size: .85em;
}

/* Media Queries -------------------- */

@media (min-width: 760px) {
	.container {
		max-width: 560px;
	}
  [placeholder="Required "],
  [placeholder="Required "] {
    font-size: .85em;
    font-style: italic;
    color: #c2c5c8;
  }
}


@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
  [placeholder="Required"],
  [placeholder="Required"] {
    font-size: .85em;
    font-style: italic;
    color: #c2c5c8;
  }
}
